body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.fondo {
  display: flex;
  max-width: 900px;
  margin: auto;
  background: white;
}

.barrita {
  width: 30%;
  background: #99A8A8;
  color: white;
  padding: 20px;
}

.contenido {
  width: 70%;
  padding: 20px;
}

h2 {
  border-bottom: 2px solid #555;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.0em;
  margin-top: 3px;
  color: #555;
}

p {
  font-size: 0.95em;
  color: #555;
  margin-top: -3px;
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .fondo {
    flex-direction: column;
  }
  
  .barrita, .contenido {
    width: 100%;
  }
}
